@charset "UTF-8";
body {
  margin: auto;
  max-width: 1000px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: 100％;
}

header {
  margin: auto;
  max-width: 100%;
  z-index: 10000;
}

.toptitle {
  text-align: center;
  margin-top: 0;
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
}

.toptitle a {
  text-decoration: none;
  color: black;
}

.zisaku {
  margin: auto;
  max-width: 500px;
  position: relative;
  z-index: 10000;
}

.zisaku-img {
  display: block;
  width: 76px;
  height: 56px;
  background-image: url(../img/hukidasi.png);
  text-align: center;
  line-height: 2.7;
  position: absolute;
  top: 5px;
  left: 165px;
  font-size: 20px;
}

.gnav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.gnav-ul_li {
  padding-bottom: 5px;
  border-bottom: 2px solid orange;
}

.gnav-ul_li + .gnav-ul_li {
  margin-left: 20px;
}

.gnav-SP {
  width: 80%;
  margin: auto;
  display: none;
}

.accessCounterBox {
  text-align: center;
  position: relative;
  font-size: 14px;
}

/* main */
main {
  z-index: 10000;
}

.mainMovieSection {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mainMovieSection-h2 {
  font-size: 20px;
  color: orange;
  text-align: center;
  font-weight: bold;
}

.mainMovieSection-wrapper {
  position: relative;
  width: 80%;
  margin: auto;
}

.mainMovieSection-wrapper:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.mainMovieSection-wrapper_youTube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainflex2 {
  width: 400px;
}

.section {
  padding-bottom: 20px;
}

.mainHead {
  border-bottom: 3px solid orange;
}

.mainHead h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.playtitle {
  padding-left: 20px;
}

.playtitle a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-right: 15px;
}

.playtitle a:hover {
  color: orange;
}

.playtitle dt {
  font-size: 1.1rem;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: normal;
}

.playtitle dd {
  padding-left: 30px;
  font-size: 1.1rem;
}

.playtitle dd a {
  padding-left: 10px;
}

.futuretitle ul {
  padding-top: 20px;
}

.futuretitle ul li {
  padding-bottom: 5px;
}

.nasi {
  text-decoration: line-through !important;
}

/* ここからFooter */
footer {
  width: 100%;
}

small {
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

/* Gtitlerule */
.gTitle-h1 {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 3px solid orange;
}

/* ここからplayedgamelist */
.playedgamelist-main {
  margin: auto;
  padding-top: 20px;
}

.playedgamelist-main p {
  font-size: 14px;
}

.playedgamelist-title {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 3px solid orange;
}

.playedgamelist-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  margin: auto;
}

.playedgamelist-flex_iframe iframe {
  padding-left: 10px;
  height: 100%;
  /* border: #000 solid 1px; */
}

.playedgamelist-entrylist {
  font-weight: bold;
  max-width: 800px;
  padding-left: 5px;
}

.playedgamelist-entrylist p {
  font-weight: normal;
}

.listTable-links {
  display: block;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

.listTable-links a {
  margin-left: 0.5rem;
}

.listTable-remarks {
  display: inline;
}

.youlink a:hover {
  color: #FF0000;
}

.twilink a:hover {
  color: #6441A4;
}

.Detailink a:hover {
  color: orange;
}

/* pcSpec */
.pcSpec-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pcSpec-description {
  padding-left: 10px;
  padding-right: 10px;
}

.pcSpec-description_pc {
  width: 50%;
}

.pcSpec-description h2 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.pcSpec-description p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.pcSpec-img {
  width: 50%;
}

.pcSpec-img img {
  width: 100%;
}

/*! amazlet-css */
.amazlet-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 50px;
}

.amazlet-info {
  padding-left: 20px;
}

.amazlet-name {
  font-size: 16px;
}

.amazlet-name a {
  color: #915500;
  font-weight: bold;
}

.amazlet-powered-date {
  font-size: 12px;
}

.amazlet-detail {
  font-size: 14px;
}

.amazlet-link a {
  color: #915500;
}

/* ここからprofile */
.profile-img {
  width: 80%;
  margin: auto;
  height: 300px;
  background-image: url(../img/topimage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-details_h1 {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 3px solid orange;
}

.profile-details_p {
  font-size: 14px;
  padding: 0 5px;
}

.profile-links {
  padding-top: 20px;
}

.profile-links_h2 {
  font-size: 20px;
}

.profile-links ul li {
  padding-bottom: 8px;
}

.profile-links ul li a {
  margin-right: 1rem;
}

.letsPlayList-jstarget, .playedgamelist-jstarget {
  font-weight: bold;
  color: red;
}

.updating::after {
  content: "更新中!";
  font-size: 0.5rem;
  color: red;
}

.history-details_h1 {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 3px solid orange;
}

.historyList {
  margin-top: 4rem;
}

.historyList-ul {
  list-style: none;
  margin-bottom: 2rem;
}

.historyList-li {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.historyList-li_date {
  margin-right: 1rem;
}

.historyRed {
  color: #a80000;
}
