.history {
    &-details {
        &_h1 {
            @include gtitlerule();
        }
    }
}

.historyList {
    margin-top: 4rem;
    &-ul {
        list-style: none;
        margin-bottom: 2rem;
    }
    &-li {
        font-weight: bold;
        margin-bottom: 0.8rem;
        &_date {
            margin-right: 1rem;
        }
    }
}

.historyRed {
    color: #a80000;
}