/* ここからplayedgamelist */

.body {
    max-width: 100% !important;
    &-active {
        background-color: #808080;
    }
}

.movielistContainer {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-inline-size: 1000px;
}

.grayscreen {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 8;
    display: none;
    &-active {
        display: block;
    }
}

.movielist {

    &-iframeContainer {
        display: none;
        position: absolute;
        background-color: white;
        inline-size: 100%;
        max-inline-size: 1000px;
        max-block-size: 100%;
        z-index: 9;
        padding: 10px;
        box-shadow: 6px 6px 5px -5px black;
        &_active {
            display: block;
        }
    }

    &-iframeBox {
        inline-size: 100%;
        &_content {
            inline-size: 100%;
            block-size: 80vh;
        }
        // outline: 1px solid red;
    }

    &-main {
        margin: auto;
        padding-top: 20px;

        p {
            font-size: 14px;
        }
    }

    &-title {
        @include gtitlerule();
    }

    &-flex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        margin: auto;
    }

    &-entrylist {
        font-weight: bold;
        max-width: 800px;
        padding-left: 5px;

        p {
            font-weight: normal;
        }
    }

    &-jstarget {
        font-weight: bold;
        color: red;
    }
}

.listTable {
    &-links {
        display: block;
        padding-left: 20px;
        margin-bottom: 1.5rem;
        a {
            margin-left: 0.5rem;
        }
    }

    &-remarks {
        display: inline;
    }
}

.youlink a:hover {
    color: #FF0000;
}

.twilink a:hover {
    color: #6441A4;
}

.Detailink a:hover {
    color: $themeColor;
}