/* ここからplayedgamelist */

.playedgamelist {
    &-main {
        margin: auto;
        padding-top: 20px;

        p {
            font-size: 14px;
        }
    }

    &-title {
        @include gtitlerule();
    }

    &-flex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        margin: auto;

        &_iframe iframe {
            padding-left: 10px;
            height: 100%;
            /* border: #000 solid 1px; */
        }
    }

    &-entrylist {
        font-weight: bold;
        max-width: 800px;
        padding-left: 5px;

        p {
            font-weight: normal;
        }
    }

    &-jstarget {
        @extend .letsPlayList-jstarget;
    }
}

.listTable {
    &-links {
        display: block;
        padding-left: 20px;
        margin-bottom: 1.5rem;
        a {
            margin-left: 0.5rem;
        }
    }

    &-remarks {
        display: inline;
    }
}

.youlink a:hover {
    color: #FF0000;
}

.twilink a:hover {
    color: #6441A4;
}

.Detailink a:hover {
    color: $themeColor;
}