/* ここからprofile */

.profile {
    &-img {
        width: 80%;
        margin: auto;
        height: 300px;
        background-image: url(../img/topimage.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &-details {
        &_h1 {
            @include gtitlerule();
        }

        &_p {
            font-size: 14px;
            padding: 0 5px;
        }
    }

    &-links {
        padding-top: 20px;

        &_h2 {
            font-size: 20px;
        }

        ul {
            li {
                padding-bottom: 8px;

                a {
                    margin-right: 1rem;
                }
            }
        }
    }
}