@charset "utf-8";
$themeColor: orange;

body {
    margin: auto;
    max-width: 1000px;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-size-adjust: 100％;
    position: relative;
}

header {
    margin: auto;
    max-width: 100%;
    z-index: 10000;
}

.toptitle {
    text-align: center;
    margin-top: 0;
    padding-top: 60px;
    text-align: center;
    font-weight: bold;

    a {
        text-decoration: none;
        color: black;
    }
}

.zisaku {
    margin: auto;
    max-width: 500px;
    position: relative;
    z-index: 5;
    &-img {
        display: block;
        width: 76px;
        height: 56px;
        background-image: url(../img/hukidasi.png);
        text-align: center;
        line-height: 2.7;
        position: absolute;
        top: 5px;
        left: 165px;
        font-size: 20px;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gnav {
    position: fixed;
    z-index: 10;
    &-button {
        position: fixed;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        border-right: solid 1px $themeColor;
        box-shadow: -4px -4px 10px 0 black;
        transition: all 300ms 0s ease;
        &_link {
            display: block;
            width: 40px;
            height: 100%;
            color: $themeColor;
            border-right: solid 1px $themeColor;
            &:hover {
                color: $themeColor;
            }
        }
        &_image {
            display: block;
            margin: auto;
            padding-top: 30px;
            width: 15px;
        }

        &_on {
            width: 350px;
        }
    }
    &-ul {
        display: none;
        position: fixed;
        top: 50px;
        left: 50px;
        list-style: none;
        padding-left: 0;
        width: 300px;
        padding-right: 10px;

        &_on {
            display: block;
            animation: show .5s linear 0s;
        }

        &_li {
            padding-top: 20px;
            border-bottom: 2px solid $themeColor;
        }
    }
}

.accessCounterBox {
    text-align: center;
    position: relative;
    font-size: 14px;
}

/* main */

main {
    z-index: 10000;
}

.mainMovieSection {
    margin-top: 50px;
    margin-bottom: 50px;
    &-h2 {
        font-size: 20px;
        color: $themeColor;
        text-align: center;
        font-weight: bold;
    }
    &-wrapper {
        position: relative;
        width: 80%;
        margin: auto;

        &:before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }

        &_youTube {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}



.mainflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainflex2 {
        width: 400px;
}

.section {
    padding-bottom: 20px;
}

.mainHead {
    border-bottom: 3px solid $themeColor;

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.playtitle {
    padding-left: 20px;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding-right: 15px;

        &:hover {
            color: $themeColor;
        }
    }

    dt {
        font-size: 1.1rem;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: normal;
    }

    dd {
        padding-left: 30px;
        font-size: 1.1rem;

        a {
            padding-left: 10px;
        }
    }
}

.futuretitle {
    ul {
        padding-top: 20px;

        li {
            padding-bottom: 5px;
        }
    }
}

.nasi {
    text-decoration: line-through !important;
}


/* ここからFooter */

footer {
    width: 100%;
}

small {
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

/* Gtitlerule */
@mixin gtitlerule {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 3px solid $themeColor;
}

.gTitle-h1 {
    @include gtitlerule();
}

@import "playedGameList";
@import "pcSpec";
@import "profile";
@import "letsPlayList";
@import "history"