@charset "utf-8";
$themeColor: orange;

body {
    margin: auto;
    max-width: 1000px;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-size-adjust: 100％;
}

header {
    margin: auto;
    max-width: 500px;
    position: relative;
    z-index: 10000;
}

.toptitle {
    text-align: center;
    margin-top: 0;
    padding-top: 60px;
    text-align: center;
    font-weight: bold;

    a {
        text-decoration: none;
        color: black;
    }
}

.zisaku {
    display: block;
    width: 76px;
    height: 56px;
    background-image: url(../img/hukidasi.png);
    text-align: center;
    line-height: 2.7;
    position: absolute;
    top: 5px;
    left: 165px;
    font-size: 20px;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;

        li + li {
            margin-left: 20px;
        }
    }
}

.accessCounterBox {
    text-align: center;
    position: relative;
    font-size: 14px;
}

/* main */

main {
    z-index: 10000;
}

.mainflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainflex2 {
        width: 400px;
}

.section {
    padding-bottom: 20px;
}

.mainHead {
    border-bottom: 3px solid $themeColor;

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.playtitle {
    padding-left: 20px;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding-right: 15px;

        &:hover {
            color: $themeColor;
        }
    }

    dt {
        font-size: 1.1rem;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: normal;
    }

    dd {
        padding-left: 30px;
        font-size: 1.1rem;

        a {
            padding-left: 10px;
        }
    }
}

.futuretitle {
    ul {
        padding-top: 20px;

        li {
            padding-bottom: 5px;
        }
    }
}

.nasi {
    text-decoration: line-through !important;
}


/* ここからFooter */

footer {
    width:100px;
    margin: auto;
}

small {
    display: block;
    margin-top: 50px;
}

/* Gtitlerule */
@mixin gtitlerule {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 3px solid $themeColor;
}

.gTitle-h1 {
    @include gtitlerule();
}


/* ここからplayedgamelist */

.playedgamelist {
    &-main {
        margin: auto;
        padding-top: 20px;

        p {
            font-size: 14px;
        }
    }

    &-title {
        @include gtitlerule();
    }

    &-flex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        margin: auto;

        &_iframe iframe {
            padding-left: 10px;
            height: 100%;
            /* border: #000 solid 1px; */
        }
    }

    &-entrylist {
        font-weight: bold;
        max-width: 800px;
        padding-left: 5px;

        p {
            font-weight: normal;
        }
    }
}

.listTable {
    &-links {
        padding-left: 20px;
        padding-bottom: 5px;
    }

    &-remarks {
        display: inline;
    }
}

.youlink a:hover {
    color: #FF0000;
}

.twilink a:hover {
    color: #6441A4;
}

.Detailink a:hover {
    color: $themeColor;
}

/* pcSpec */

.pcSpec {
    &-list {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    &-description {
        padding-left: 10px;
        padding-right: 10px;
        
        &_pc {
            width: 50%;
        }

        h2 {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: 14px;
            margin-bottom: 0.5rem;
        }
    }

    &-img {
        width: 50%;

        img {
            width: 100%;
        }
    }
}

/*! amazlet-css */
$amazletLinks : #915500;

.amazlet {
    &-box {
        display: flex;
        justify-content: left;
        margin-bottom: 50px;
    }

    &-info {
        padding-left: 20px;
    }

    &-name {
        font-size: 16px;
        a {
            color: $amazletLinks;
            font-weight: bold;
        }
    }

    &-powered-date {
        font-size: 12px;
    }

    &-detail {
        font-size: 14px;
    }

    &-link {
        a {
            color: $amazletLinks;
        }
    }
}